spring:
  application:
    name: auth-service
  cloud:
    compatibility-verifier:
      enabled: false
server:
  servlet:
    context-path: /auth-service
  port: 8001

logging:
  level:
    com.school.common_library.client.UserClient: DEBUG
