spring:
  application:
    name: auth-service
  cloud:
    compatibility-verifier:
      enabled: false

  datasource:
    url: jdbc:mysql://localhost:3306/users_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: Chien123!
#    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
#  servlet:
#    context-path: /auth-service
  port: 8001

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

