spring:
  application:
    name: auth-service
  cloud:
    compatibility-verifier:
      enabled: false

  datasource:
    url: jdbc:mysql://localhost:3306/users_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: youko2806
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  servlet:
    context-path: /auth-service
  port: 8001
