spring:
  application:
    name: point-service

  datasource:
    url: jdbc:mysql://localhost:3306/point_service?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8091
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.example.point_service: DEBUG
    org.hibernate.SQL: DEBUG

student:
  service:
    url: http://localhost:8090
