server:
  port: 8888

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth-service/**
          filters:
            - StripPrefix=1

        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/student-service/**
          filters:
            - StripPrefix=1

        - id: point-service
          uri: lb://point-service
          predicates:
            - Path=/point-service/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  signerKey: "bbzhMC+y7ZDMf5zT/BTmDWFrRakcUZL/9HtfaX7zj3uerFTCBMfstWnLExLJJJuQ"

logging:
  level:
    root: INFO

    # Spring Cloud Gateway
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE

    # Netty / WebFlux
    reactor.netty.http.server: INFO

    # Security (nếu có JWT)
    org.springframework.security: INFO

    org.springframework.cloud.gateway.filter: DEBUG
    org.springframework.cloud.gateway.filter.factory: DEBUG






