server:
  port: 8085

spring:
  application:
    name: student-service
  cloud:
    openfeign:
      client:
        config:
          auth-service:
            connectTimeout: 5000
            readTimeout: 5000

  datasource:
    url: jdbc:mysql://localhost:3306/studentdb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: youko2806
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

school:
  jwt:
    signer-key: "bbzhMC+y7ZDMf5zT/BTmDWFrRakcUZL/9HtfaX7zj3uerFTCBMfstWnLExLJJJuQ"

logging:
  level:
    root: INFO
    chien.nguyen.school.student: DEBUG
    org.hibernate.SQL: DEBUG


