server:
  port: 8002
  servlet:
    context-path: /user-service

spring:
  application:
    name: user-service
  cloud:
    compatibility-verifier:
      enabled: false

  datasource:
      url: jdbc:mysql://localhost:3306/users_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      username: root
      password: Chien123!
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true